.user-profile-header-banner img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.user-profile-header {
    margin-top: -2rem;
}
.user-profile-header .user-profile-img {
    border: 5px solid;
    width: 120px;

    border-color: #fff! important;

}
.circle{
    border-radius: 4rem;
}

